<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')  %>
<body>
  <%- include('../partials/navbar.ejs')  %>
  <%- include('../partials/canvas.ejs')  %>
  <%- include('../partials/errorMessage.ejs')  %>
  <%- body %>
</body>
<script>
  const productHTML = this.data
  document.querySelector('.products-container').innerHTML = productHTML;
  console.log(data)
</script>
</html>